<!-- home page --> 
<!-- it is inside the container so the css of container will work -->

	<audio autoplay loop id="introSound">
         <source src="audio/intro.mp3" type="audio/mpeg">
    </audio>

	<img class="logo bounceIn" src="images/temp.png" alt="mainLogo">
	<div class="nameNstart">
		<form name="homePage" ngSubmit="start(homePage.$valid)" novalidate>
			<div class="form-group" ng-class="{'has-error':homePage.playerName.$invalid && !homePage.playerName.$pristine}">
				<input type="text" placeholder="Type your name here" name='playerName' maxlength='20' ng-model="playerName" required>
				<p class="error" ng-show="homePage.playerName.$invalid && homePage.playerName.$dirty">Enter Your Name Please!!!</p>
				<button type="submit" ng-click="start()" class="btn" ng-disabled="homePage.$invalid">Start</button>
			</div>
		</form>
	</div>
  	
